/* ==========================================================
   RESET
========================================================== */

*,
*::before,
*::after{

    margin:0;
    padding:0;
    box-sizing:border-box;

}

html{

    scroll-behavior:smooth;

}

body{

    min-height:100vh;

    overflow:hidden;

    font-family:var(--font-body);

    background:var(--color-bg);

    color:#fff;

    text-rendering:optimizeLegibility;

    -webkit-font-smoothing:antialiased;

}

img{

    display:block;

    max-width:100%;

}

button{

    border:none;

    background:none;

    cursor:pointer;

}

a{

    color:inherit;

    text-decoration:none;

}

ul{

    list-style:none;

}

span{

    display:block;

}
